extends layout

block scripts
  script(type="text/javascript", src="/js/binge/binge.main.js")
  script(type="text/javascript", src="/js/binge/binge.parser.js")
  script(type="text/javascript").
    $(document).ready(function() {
      binge.init('binge_holder');
    });

block main_content
  article(id="binge_holder", data-audio-uri="/audio/interview_segment.mp3")
    header
      h1 An Oral History of Alpha Beta

    section(data-timecode="0", class="active")
      p <span class="speaker">Valerie Chen</span>It was hard to, like... each person you had to teach them how to flip the cart, and tell them "don't do anything yet" in the intro animation, 'cause they were trying to do shit.
      p <span class="speaker">Sarah Rothberg</span>Yeah, I feel mixed about that, how that ended up.
      p <span class="speaker">Sam Brenner</span>You mean, when you're walking to the store and you don't have control of the cart.
      p <span class="speaker">Valerie Chen</span>Yeah, you're supposed to just watch, but people would be super confused about that. 

    section(data-timecode="18")
      p <span class="speaker">Valerie Chen</span>And then flipping the cart, and then... you kind of had to just walk them through how it worked, like, "oh, you need to go through the cashiers' lines, any of them, but not the other way." They would like to go through the one that's, like, not a cashier, it's, like, the welcome guy. Or they would go on the wrong side of the other - the first - one. [I'd] be, like, "no, back up, back up." And it was really hard for people to steer, so it would be really hard for them to get into the lane.
      p <span class="speaker">Sarah Rothberg</span>3D is confusing for people.
      p <span class="speaker">Valerie Chen</span>Yeah.
      p <span class="speaker">Sam Brenner</span>But it's the same controls as any first-person shooter, with the mouse and keyboard.
      p <span class="speaker">Valerie Chen</span>I'd never played one.
      p <span class="speaker">Sarah Rothberg</span>People who were, like, super-nerdy video game people could play it really well from the beginning. 
      p <span class="speaker">Valerie Chen</span>Yeah, you could tell people who were gamers.
      p <span class="speaker">Sarah Rothberg</span>But regular people were like, "uuuhwa, I want to throw up!"