extends layout

block scripts
  script(type="text/javascript", src="/js/binge/binge.main.js")
  script(type="text/javascript", src="/js/binge/binge.parser.js")
  script(type="text/javascript", src="/js/binge/binge.controls.js")
  script(type="text/javascript", src="/js/binge/binge.media.js")
  script(type="text/javascript").
    $(document).ready(function() {
      binge.init('binge_holder');
    });

block main_content
  article(id="binge_holder", data-audio-uri="/audio/interview_segment.mp3")
    header
      h1 An Oral History of Alpha Beta

    section(class="binge-transcript", data-timecode="0")
      p <span class="speaker">Valerie Chen</span>It was hard to, like... each person you had to teach them how to flip <a href="http://samjbrenner.com/alphabetapedia/doku.php?id=shopping-cart">the cart</a>, and tell them &ldquo;don&rsquo;t do anything yet&rdquo; in the <a class="binge-annotation" href="#intro-animations">intro animation</a>, &rsquo;cause they were trying to do shit.
      p <span class="speaker">Sarah Rothberg</span>Yeah, I feel mixed about that, how that ended up.
      p <span class="speaker">Sam Brenner</span>You mean, when you&rsquo;re walking to the store and you don&rsquo;t have control of the cart.
      p <span class="speaker">Valerie Chen</span>Yeah, you&rsquo;re supposed to just watch, but <a href="http://en.wikipedia.org/wiki/Usability_testing">people would be super confused</a> about that. 

    section(class="binge-transcript", data-timecode="18")
      p <span class="speaker">Valerie Chen</span>And then flipping the cart, and then... you kind of had to just walk them through how it worked, like, &ldquo;oh, you need to go through the <a href="http://samjbrenner.com/alphabetapedia/doku.php?id=characters#cashiers">cashiers</a>&rsquo; lines, any of them, but not the other way.&rdquo; They would like to go through the one that&rsquo;s, like, not a cashier, it&rsquo;s, like, the welcome guy. Or they would go on the wrong side of the other - the first - one. [I&rsquo;d] be, like, &ldquo;no, back up, back up.&rdquo; And it was really hard for people to steer, so it would be really hard for them to <a class="binge-annotation" href="#simulations">get into the lane</a>.
      p <span class="speaker">Sarah Rothberg</span>3D is confusing for people.
      p <span class="speaker">Valerie Chen</span>Yeah.
      p <span class="speaker">Sam Brenner</span>But it&rsquo;s the <a href="http://en.wikipedia.org/wiki/Arrow_keys#WASD_keys">same controls as any first-person shooter</a>, with the mouse and keyboard.
      p <span class="speaker">Valerie Chen</span>I&rsquo;d never played one.
      p <span class="speaker">Sarah Rothberg</span>People who were, like, <a href="https://www.youtube.com/watch?v=iB5FB2PJbdI">super-nerdy video game people</a> could play it really well from the beginning. 
      p <span class="speaker">Valerie Chen</span>Yeah, you could tell people who were gamers.
      p <span class="speaker">Sarah Rothberg</span>But regular people were like, &ldquo;uuuhwa, <a href="http://www.cs.ucf.edu/courses/cap6938/spr2008/section02/readings/cybersick.pdf">I want to throw up!</a>&rdquo; 

    section(class="binge-annotation", id="intro-animations")
      p In college, I was introduced to motion graphics. Though there were already well-established masters of the medium &mdash; pioneers like <a href="http://en.wikipedia.org/wiki/Saul_Bass">Saul Bass</a> and contemporary studios like <a href="www.troika.tv">Troika</a> stand out as memorable &mdash; me and my classmates felt like we were on the cutting edge of it all. To us, the pinnacle of motion graphics was the <a href="http://www.artofthetitle.com/">intro animation</a>. We had <a href="http://vimeo.com/384423">entire assignments</a> devoted to them. 
      p But on the internet the intro animation soon became a joke, put to laughable use by restaurants and bars trying to recreate the spirit of their brick-and-mortar establishment online. From a pinnacle to the nadir: the &ldquo;skip intro&rdquo; button, a patch in the design whose existance acknowledges that the decision to hide important content behind a song-and-dance was a bad one.

    section(class="binge-annotation", id="simulations")
      p I initially just wanted this link to be about <a href="http://www.nytimes.com/2007/06/23/business/23checkout.html?_r=0">the effectiveness of different forms of checkout systems</a>. In <a href="https://www.google.com/search?q=grocery+store+checkout+line+analysis">trying to find something good</a>, I came across <a href="https://www.youtube.com/watch?v=d6pdZJ5qq-0">this video simulating a bizarrely-laid-out grocery store</a>, which ultimately led me to the website of <a href="http://www.simio.com/index.html">Simio</a>, the company behind the <a href="http://www.simio.com/products/">$4,850</a> software package used to produce that video. <a href="http://en.wikipedia.org/wiki/Simulation">Simulation</a>, naturally, is an established industry with an <a href="http://wintersim.org/">annual conference</a>. Here is a paper from the 1969 conference titled <a href="http://informs-sim.org/wsc69papers/1969_0021.pdf">Simulation Models for Evaluation of Airport Baggage-Handling Systems</a>.