extends layout

block scripts
  script(type="text/javascript", src="/js/binge/binge.main.js")
  script(type="text/javascript", src="/js/binge/binge.parser.js")
  script(type="text/javascript", src="/js/binge/binge.controls.js")
  script(type="text/javascript").
    $(document).ready(function() {
      binge.init('binge_holder');
    });

block main_content
  article(id="binge_holder", data-audio-uri="/audio/interview_segment.mp3")
    header
      h1 An Oral History of Alpha Beta

    section(data-timecode="0")
      p <span class="speaker">Valerie Chen</span>It was hard to, like... each person you had to teach them how to flip the cart, and tell them &ldquo;don&rsquo;t do anything yet&rdquo; in the intro animation, &rsquo;cause they were trying to do shit.
      p <span class="speaker">Sarah Rothberg</span>Yeah, I feel mixed about that, how that ended up.
      p <span class="speaker">Sam Brenner</span>You mean, when you&rsquo;re walking to the store and you don&rsquo;t have control of the cart.
      p <span class="speaker">Valerie Chen</span>Yeah, you&rsquo;re supposed to just watch, but people would be super confused about that. 

    section(data-timecode="18")
      p <span class="speaker">Valerie Chen</span>And then flipping the cart, and then... you kind of had to just walk them through how it worked, like, &ldquo;oh, you need to go through the cashiers&rsquo; lines, any of them, but not the other way.&rdquo; They would like to go through the one that&rsquo;s, like, not a cashier, it&rsquo;s, like, the welcome guy. Or they would go on the wrong side of the other - the first - one. [I&rsquo;d] be, like, &ldquo;no, back up, back up.&rdquo; And it was really hard for people to steer, so it would be really hard for them to get into the lane.
      p <span class="speaker">Sarah Rothberg</span>3D is confusing for people.
      p <span class="speaker">Valerie Chen</span>Yeah.
      p <span class="speaker">Sam Brenner</span>But it&rsquo;s the same controls as any first-person shooter, with the mouse and keyboard.
      p <span class="speaker">Valerie Chen</span>I&rsquo;d never played one.
      p <span class="speaker">Sarah Rothberg</span>People who were, like, super-nerdy video game people could play it really well from the beginning. 
      p <span class="speaker">Valerie Chen</span>Yeah, you could tell people who were gamers.
      p <span class="speaker">Sarah Rothberg</span>But regular people were like, &ldquo;uuuhwa, I want to throw up!&rdquo; 