doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/global.css")
    block styles
    
    script(type="text/javascript", src="/js/libs/jquery-2.1.0.js")
    script(type="text/javascript", src="/js/libs/popcorn-1.3.js")

    block scripts
    
  body
    section(id="main_content")
      block main_content