body { color: #444; font-family: Times, 'Times New Roman', serif; padding: 10px 0 0 10px; }
h1 { font-size: 180%; font-weight: bold; }
a, a:active, a:visited { color: #ff004e; }

#main_content { width: 40%; }
#main_content article header { margin-bottom: 40px; }
#main_content article p { margin-bottom: 10px; }
#main_content article p:last-of-type { margin-bottom: 0; }
#main_content article p span { font-weight: bold; margin-right: 6px; }
#main_content article p span:after { content: ":"; }
#main_content article section { left: -1%; margin-bottom: 25px; padding: 1%; position: relative; width: 102%; }
#main_content article section.active { background-color: #FFDDE8; }
#main_content article section.binge-annotation { display: none; }

#controls { background-color: #FFF; border-bottom: 1px solid #CCC; padding: 6px 0 10px; width: 100%; z-index: 2; }
#controls li { display: inline-block; margin-right: 4px; }
#controls li a { display: block; }
.stuck #controls { width: 40%; }